<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Goal-oriented technical professional with solid history of effective problem solving, project management, and team leadership. Proficient in the analysis of operational needs to create and deploy innovative solutions that enhance user experiences. Repeated success implementing high-functioning products with respect for quality, consistency, and timeliness. Outstanding interpersonal and communication strengths leveraged to collaborate with cross-functional teams, troubleshoot issues, and ensure alignment with client objectives.
		</div>
		<br>
	</div>
</div>
